@import url("var.css");
.bg-grey{
	background:var(--bg-grey);
}
.bg-lightgrey{
	background:var(--bg-lightgrey);
}
.h-2r{
	height:2rem;
}
.h-3r{
	height:3rem;
}
.h-7r{
	height:7rem;
}
.w-2r{
	width:2rem;
}
.w-7r{
	width:7rem;
}
.col-md-2  a:link, .col-md-2  a:visited{
	color: white;
}
.col-md-2 a:hover, .col-md-2 a:hover{
	color: #FFA63D;
}
/* @media (max-width: 550px) {

} */